PUMP_TARGET_WALLET=2vKnXF4RWm3YNYuTo3xXvfkoum3Cfc9HYgReNbTTxbsz
PUMP_USERNAME=katakama
PUMP_BIO=the sexiest king
PFP_PATH=pfp.jpg
SKIP_PROFILE_IMAGE=0
AUTO_UNIQUE_USERNAME=1

PROXY_MODE=file
PROXY_FILE=proxies.txt
TEST_PROXY_BEFORE_USE=1
PROXY_TEST_URL=https://api.ipify.org?format=json
PROXY_TEST_TIMEOUT=10
MAX_PROXY_ATTEMPTS=10

PROXYSCRAPE_API_TOKEN=
PROXYSCRAPE_SUBACCOUNT_ID=
PROXYSCRAPE_COUNTRY=
PROXYSCRAPE_PROXY_USERNAME=
PROXYSCRAPE_PROXY_PASSWORD=

WALLET_OUTPUT_PATH=generated_pump_profile_wallet.json
